main {
  min-height: calc(100vh - 4rem);
  background-color: var(--bg-secondary);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.cardContainer {
  background-color: var(--bg-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 90%;
  height: 60vh;
  border-radius: 2.5%;
  box-shadow: var(--shadow);
  transition: var(--transition);
}
