.head {
  font-weight: 600;
  font-size: 1.5rem;
}

.body {
  padding: 1rem;
  text-align: justify;
}

.body p {
  margin-bottom: 1rem;
}

.btn {
  padding: 1rem;
  border: none;
  background-color: var(--bg-primary);
  border: 1px solid transparent;
  border-radius: 5px;
  color: var(--text-secondary);
  transition: var(--transition)
}

.btn:hover {
  background-color: var(--bg-secondary);
  color: var(--bg-primary);
  border: 1px solid var(--bg-primary);
  cursor: pointer;
}