@import url('https://fonts.googleapis.com/css2?family=El+Messiri&family=Poppins:wght@300;400;500;600&display=swap');

:root {
  --bg-primary: tomato;
  --bg-secondary: white;
  --text-primary: black;
  --text-secondary: white;
  --shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  font-family: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}